:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --background-color: rgba(255, 255, 255, 1.0);
    --text-color: #242424;

    color-scheme: light dark;
    background-color: var(--background-color);
    color: var(--text-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

input {
    background-color: var(--background-color);
    color: var(--text-color);
}

#root {
    padding: 0;
}

h1 {
    margin-top: 16px;
    margin-bottom: 16px;
}
